[submodule "core"]
	path = submodules/core
	url = https://github.com/akdasa-studios/classroom-core.git
[submodule "framework"]
	path = submodules/framework
	url = https://github.com/akdasa-studios/framework.git
[submodule "framework-persistence-rest"]
	path = submodules/framework-persistence-rest
	url = https://github.com/akdasa-studios/framework-persistence-rest
[submodule "classroom-protocol"]
	path = submodules/classroom-protocol
	url = https://github.com/akdasa-studios/classroom-protocol.git
