@import './base.css';

html {
  height: 100%;
  font-size: 18px;
}

#app {
  height: 100%;
}

body {
  height: 100%;
  font-family: ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  margin: 8px;
}

a {
  text-decoration: none;
}

:root {
  /* --color-main: tomato; */
  --color-main: 127, 127, 127;

  --theme-saturation: 100%;
  --theme-saturation-dint: calc(var(--theme-saturation) / 4);


  --color-test-color: 221;


  --color-test:      var(--color-test-color), var(--theme-saturation);
  --color-test-dint: var(--color-test-color), var(--theme-saturation-dint);
  /* --color-test-a: 0, 50%, 50%; */
  /* --color-main-h: 0;
  --color-main-s: 100%;
  --color-main-l: 50%; */
}