@import './base.css';

html {
  height: 100%;
  font-size: 18px;
}

#app {
  height: 100%;
}

body {
  height: 100%;
  background-color: #F3F4F6; /* bg-gray-200 */
  font-family: ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  margin: 8px;
}

a {
  text-decoration: none;
}