/* @import './base.css'; */

body {
  height: 100%;
  background-color: #F9FAFB;
  font-family: ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  margin: 8px;
}

a {
  text-decoration: none;
}